*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

.hide{
    display: none;
}

.months-list{
    padding: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.days-list{
    padding: 1rem;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    list-style-type: none;
}

.weeks-list{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

button{
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover{
    background-color: #102f5e;
    color: #fff
}

button:hover > i{
    color: #fff
}

button i{
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: .25rem, .5rem;
}

.todo-container{
    max-width: 450px;
    margin: 3rem;
    background-color: #ffffff;
    padding: 1.5rem;
    border: 1px solid #333
}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #102f5e;
}

#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #102f5e;
}

#todo-form p,
#edit-form p{
    margin: .5rem;
    font-weight: bold;
}

.form-control{
    display: flex;
}

.form-control input{
    margin-right: .3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #102f5e;
    display: flex;
}

#toolbar h4{
    margin-bottom: .5rem;
}

#search{
    border-right: 1px solid #102f5e;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form{
    display: flex;
}

#search input{
    width: 100%;
    margin-right: .3rem;
}

#filter{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select{
    flex: 1;
}

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #102f5e;
    transition: .3s;
}

.todo h3{
    flex: 1;
    font-size: .9rem;
}

.todo button{
    margin-left: .4rem;
}

.done{
    background-color: rgb(216, 255, 229);
}

.done h3{
    color: #333;
    text-decoration: line-through;
    font-style: italic;
}

#containers{
    display: flex;
    margin: 1rem 0 auto;
}

.notes-container{
    width: 1300px;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 15px;
}

.grid-container{
    display: flex;
    max-height: 90px;
}

.grid-container textarea{
    height: 5rem;
    width: 1200px;
    background-color: transparent;
    outline: none;
    resize: none;
    padding: 7px;
    border: none;
    border: 1px solid #333;
    font-size: larger;
}


.day-container{
    border: 1px solid #102f5e;
    height: 5rem;
    width: 5rem;
}

.day-container il{
    font-weight: bold;
    padding: 5px;
}

.notes-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #102f5e;
    margin-bottom: 1rem;
}

@media (max-width: 456px){
    #months,
    #days{
        display: none;
    }

    #containers{
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    html, body{
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .notes-container{
        width: 100%;
    }
    .day-container{
        width: 100%;
    }
}